Goal is to play around with feature engineering techniques, as discussed in Kaggle tutorial and also using `featuretools`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

# general ML tooling
from sklearn.model_selection import train_test_split, StratifiedKFold#, KFold
from sklearn.metrics import mean_squared_error
import wandb
from wandb.xgboost import wandb_callback
# import timm
from pathlib import Path
import os
import math

# feature engineering tools
from sklearn.feature_selection import mutual_info_regression
import featuretools as ft

In [2]:
%config Completer.use_jedi = False

# Featuretools Demo
From [here](https://featuretools.alteryx.com/en/stable/).

In [3]:
data = ft.demo.load_mock_customer()

In [4]:
customers_df = data["customers"]

In [5]:
customers_df

   customer_id zip_code           join_date date_of_birth
0            1    60091 2011-04-17 10:48:33    1994-07-18
1            2    13244 2012-04-15 23:31:04    1986-08-18
2            3    13244 2011-08-13 15:42:34    2003-11-21
3            4    60091 2011-04-08 20:08:14    2006-08-15
4            5    60091 2010-07-17 05:27:50    1984-07-28

In [6]:
type(customers_df)

pandas.core.frame.DataFrame

In [7]:
type(data)

dict